.link {
    position: relative;
    transition: 0.5s;
  }

  .link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #ffffff;
  }

  .link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }